<%= layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="h4 alert-heading"><%= err.message %></h4>
            <!-- for developing web purpose only: to see the err stack. need to be changed to a nicer UI for user -->
            <% if(process.env.NODE_ENV !== "production") { %>
            <p><%= err.stack %></p> 
            <% } %>
        </div>
    </div>
</div>
