<%- layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center"> Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" 
            method="POST" 
            novalidate 
            class="validated-form" 
            enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id ="title" name="campground[title]" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id ="location" name="campground[location]" value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input class="input" type="file" name="image" id="image" multiple></input>
                <input class="form-control" type="text" id ="image" name="campground[image]" value="<%= campground.image %>" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div> -->
            
            <div class="mb-3">
                <!-- Getting this div from boostrap input-group div  -->
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" 
                        aria-label="price" aria-describedby="price-label" 
                        name="campground[price]" value="<%= campground.price %>" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                </div>
            </div>
         

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <!-- textarea , copy and paste from input area, need to closing tag for textarea  -->
                <textarea class="form-control" type="text" id ="description" name="campground[description]" required><%= campground.description %></textarea>
            </div>
            <div class="valid-feedback">
                Looks Good!
            </div>
            <div class="mb-3">
                <label for="imgs" class="form-label">Add more Image(s)... </label>
                <input class="form-control" type="file" name="image" id="imgs" multiple>
           </div>
           <div class="mb-3">
            <% campground.images.forEach(function(img, i){ %>
                <img src="<%= img.thumbnail%>" class="img-thumbnail">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename%>">
                </div>    
                <label for="image-<%= i %>">Delete?</label>
            <% }) %>
           </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
       
    </div>
</div>


