<%- layout('layouts/boilerplate')%>
<div id="cluster-map"></div>

<h1> All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>


<% for(let campground of campgrounds){ %>
<!-- Creating a card container margin bottom 3 units -->
<div class="card mb-3" >
    <!-- making the card container display in rows -->
    <div class="row">
        <!-- each row with a colmun 1/3 column space  -->
        <div class="col-md-4">
            <% if(campground.images.length) { %>
                <!-- displaying images img-fluid   -->
                <img crossorigin="anonymous" class="img-fluid" alt="" src="<%= campground.images[0].url %>">
            <% } else {%>
                <img crossorigin="anonymous" class="img-fluid" alt="" src="">
            <% } %>
            
        </div>
        <!-- same row, but 2/3 of the column space  -->
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <!-- <h5 class="card-title"><%= campground.properties.popUpMarkUp %></h5> -->
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location %></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>" >View <%= campground.title %></a>
            </div>
        </div>
    </div>
</div>
<% } %>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds)%>};
</script>
<script src="/javascripts/clusterMap.js"></script>